@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
}
* {
  scroll-behavior: smooth;
}
.listing {
  list-style: none;
 display: block;
}

.listing::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: rgb(255, 87, 157);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.listing:hover::after {
  width: 100%;
}