@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
}
.ant-steps {
  padding: 20px 0;
}
.ant-steps-item{
   padding: 10px 0;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background: rgb(224, 34, 114);
  border-color: rgb(224, 34, 114);
}